<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<script src="/js/detalhes_venda.js"></script>

<div class="div-table w-100 table-responsive">
  <table class="table">
  <thead class="w-100">
    <tr scope="row">
      <th scope="col">Id</th>
      <th scope="col">Vendedor</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor total</th>
      <th scope="col">Data da venda</th>
      <th scope="col">Lista de produtos</th>
    </tr>
  </thead>
  <tbody>
    {{#each dados}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.vendedor}}</td>
      <td>{{this.cliente}}</td>
      <td>{{this.valor_total}}</td>
      <td>{{this.data_venda}}</td>
      <td>
        <a onclick="mostrarDetalhes({{this.id}})" produtos="{{this.produtos}}">
          <i class="bi bi-arrow-right-circle-fill bi-sm ps-3"></i>
        </a>
      </td>
      {{/each}}
  </tbody>
</table>
</div>