<div
  class="d-flex flex-row text-center">
  <p class="col-4 text-center"> {{this.name }} </p>
  <p class="col-2 text-center"> {{this.categoryName}} </p>
  <p class="col-2 text-center"> {{this.value}} </p>
  <p class="col-2 text-center"> {{this.quantidadeVenda}} </p>
  <p class="col-2 text-center"> {{this.subtotal}} </p>
  <hr class="my-0" />
</div>