<p class="col-1 my-2 text-center"> {{this.cod}} </p>
<p class="col-3 my-2 text-center"> {{this.name}} </p>
<p class="col-2 my-2 text-center"> {{this.category}} </p>
<p class="col-2 my-2 text-center"> {{this.value}} </p>
<p class="col-2 my-2 text-center"> {{this.stock}} un </p>
<div class="col-2 d-flex flex-row my-2 gap-2 align-content-end justify-content-center">
  {{> buttonEdit route='/produtos/edit'}}
  {{> buttonDelete}}
</div>
<hr class="my-0" />
{{> confirmDelete route='/produtos/delete'}}