<script src="/js/addProd.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<div class="dataTablesContainer ">
  <table id="data" class="table table-striped">
    <thead class="">
      <tr>
        <th class="">Nome produto</th>
        <th>Estoque</th>
        <th>Valor R$:</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td id="name{{this.id}}">{{this.name}}</td>
        <td id="estoque{{this.id}}">{{this.stock}}</td>
        <td id="valor{{this.id}}">{{this.value}}</td>
        <td>
          <div class="d-flex flex-row row mx-auto input-group">
            <input class=" col-5" type="number" name="" id="input{{this.id}}" value="1" id="inputProd">
            <button class="col-5 btn btn-success" value="1" max="{{this.stock}}" min="1"
              onclick="addProduto({{this.id}})">Add</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="/js/addProd.js"></script>
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      "pagingType": "simple_numbers",
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        searchPlaceholder: "Buscar Produtos",
        "lengthMenu": "Produtos por página:_MENU_",
        "zeroRecords": "Nenhum produto encontrado",
        "info": "",
        "infoEmpty": "",
        "infoFiltered": "",
        "search": "Buscar:",
        "paginate": {
          "first": "<<",
          "previous": "<",
          "next": ">",
          "last": ">>",
          "max": "3"
        }
      },
      "columnDefs": [{
        "targets": 3,
        "orderable": false,
        "searchable": false,
      }]
    });
  });

  // add produto no carrinho
  function addProduto(id) {
    const quantidade = parseInt($(`#input${id}`).val());
    const max = parseInt($(`#input${id}`).attr("max"));
    console.log("teste");
    if (quantidade > max) {
      alert(`Quantidade ${quantidade} maior que o estoque ${max}`);
      return;
    } else {
      console.log("teste 2");
      const nome = $(`#name${id}`).text();
      const valor = parseFloat($(`#valor${id}`).text());
      const subtotal = quantidade * valor;
      const template = `
      <tr id="produto${id}">
        <td>${nome}</td>
        <td>${quantidade}</td>
        <td>${valor}</td>
        <td>${subtotal}</td>
      </tr>
      `
      $("#carrinho").DataTable().row.add($(template)).draw(false);
      let total = 0;

      $("#carrinho tr:gt(1)").each(function () {
        const quantidade = parseInt($(this).find("td:eq(1)").text());
        const valor = parseFloat($(this).find("td:eq(2)").text());
        const subtotal = parseFloat(quantidade * valor);
        total = (total + subtotal);
      });

      if (total === null || isNaN(total) || total === undefined) {
        $("#btnFinalizar").addClass("disabled");
      } else {
        $("#btnFinalizar").removeClass("disabled");
        $("#subtotalValue").text(total.toFixed(2));
      }
    }
    
  }
</script>