<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nome produto</th>
        <th>Estoque</th>
        <th>Valor R$:</th>
        <th id="quantidade">Quantidade</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-id="{{this.id}}">
        <td id="name{{this.id}}">{{this.name}}</td>
        <td id="estoque{{this.id}}">{{this.stock}}</td>
        <td id="valor{{this.id}}">{{this.value}}</td>
        <td>
          <div class="d-flex flex-row row mx-auto input-group quantidadeInput">
            <input class=" col-5 " type="number" name="" id="input{{this.id}}" value="1" id="inputProd">
            <button class="col-5 btn btn-success" value="1" max="{{this.stock}}" min="1"
              onclick="addProduto({{this.id}})">Add</button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

<script>
  $(document).ready(function () {
    $('#data').DataTable({
      "pagingType": "simple_numbers",
      "lengthMenu": [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        searchPlaceholder: "Buscar Produtos",
        "lengthMenu": "Produtos por página:_MENU_",
        "zeroRecords": "Nenhum produto encontrado",
        "info": "",
        "infoEmpty": "",
        "infoFiltered": "",
        "search": "Buscar:",
        "paginate": {
          "first": "<<",
          "previous": "<",
          "next": ">",
          "last": ">>",
          "max": "3"
        }
      },
      "columnDefs": [{
        "targets": 3,
        "orderable": false,
        "searchable": false,
      }]
    });
  });

</script>